{% extends "core/base.html" %}

{% block title %}
Edit Post - ArtsyGram
{% endblock %}

{% block content %}
<h1>Edit Post</h1>

{% if post.image %}
    <p>
        <img
            src="{{ post.image.url }}"
            alt="{{ post.title }}"
            width="300"
        >
    </p>
{% endif %}

<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <input type="submit" value="Save Changes">
</form>

<a href="{% url 'user-profile' request.user.username %}">
    Cancel
</a>
{% endblock %}
