{% extends "core/base.html" %}

{% block title %}
{{ profile_user.username }} - ArtsyGram
{% endblock %}

{% block content %}
<div class="profile-header">
    <div class="profile-avatar">
        {{ profile_user.username|first|upper }}
    </div>
    <div class="profile-info">
        <h1>{{ profile_user.username }}</h1>
        {% if is_own_profile %}
            <p>This is your profile.</p>
            <div class="profile-actions">
                <a href="{% url 'create-post' %}" class="btn btn-primary">
                    + New Post
                </a>
                <a href="{% url 'user-favorites' profile_user.username %}" class="btn">
                    &#9825; My Favorites
                </a>
            </div>
        {% endif %}
    </div>
</div>

{% if posts %}
    <div class="post-grid">
        {% for post in posts %}
            {% include "core/post_card.html" with show_author=False %}
        {% endfor %}
    </div>
{% else %}
    <div class="empty-state">
        <p>This user has not posted anything yet.</p>
    </div>
{% endif %}
{% endblock %}
